.feedback {
  background-color: var(--color-hero-background);
}

.feedback__container {
  padding: var(--space-16-24) var(--space-16-32);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__title {
  font-size: var(--fs-xl);
  font-weight: var(--fw-semi-bold);
  text-align: center;
  margin-top: 0;
  margin-bottom: var(--space-16-24);
}

.feedback__text {
  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
  color: var(--color-gray-medium);
  text-align: center;
}

.feedback__text a {
  font-size: var(--fs-lg);
  font-weight: var(--fw-semi-bold);
  color: var(--color-dark);
  text-decoration: underline;
  transition: color 0.3s ease;
}

.feedback__text a:hover,
.feedback__text a:focus {
  color: var(--color-primary);
  outline: none;
}
